config p2ptap 'global'
	option enabled '0'
	option log_level 'info'
	option node_name 'openwrt-router'
	option tap_name 'p2ptap0'
	option tap_ip '10.0.0.1/24'
	option tap_ipv6 'fd00::1/64'
	option tap_mac ''
	option mtu '1500'
	option transport_strategy 'best_path'
	option enable_mdns '1'
	option discover_boot_mesh '1'
	option psk ''
	option node_key_file '/etc/p2ptap/node.key'
	option driver_type 'auto'

	list listen_addrs '/ip4/0.0.0.0/udp/4001/quic-v1'
	list listen_addrs '/ip6/::/udp/4001/quic-v1'
	list listen_addrs '/ip4/0.0.0.0/udp/4002/webrtc-direct'
	list listen_addrs '/ip6/::/udp/4002/webrtc-direct'
	list listen_addrs '/ip4/0.0.0.0/udp/4003/webtransport'
	list listen_addrs '/ip6/::/udp/4003/webtransport'
	list listen_addrs '/ip4/0.0.0.0/tcp/4001'
	list listen_addrs '/ip6/::/tcp/4001'
	list bootstrap_peers '/dnsaddr/bootstrap.libp2p.io/p2p/QmNnooDu7bfjPFoTmoXMY5PeBKyy1EicV2g7HQ1b18423b'

	# 传输协议
	option enable_quic_reuse '1'
	option enable_webrtc '1'
	option enable_webtransport '1'
	option enable_tcp_reuse '1'
	option enable_tcp_brutal '0'
	option tcp_brutal_rate '100Mbps'
	option disable_relay '0'

	# 流量混淆与加密
	option obfuscation_enable '0'
	option obfuscation_mode 'fixed'
	option obfuscation_algorithm 'auto'
	option fixed_size '1500'
	option block_size '256'
	option jitter_range '0'
	option min_size '128'
	option max_size '1500'
	option auto_detect_interval '30'
	option auto_threshold_bytes '1048576'
	option allow_mode_switch '0'

	# 出口网关（可选）
	option exit_enable '0'
	option nat_masquerade '0'
	option wan_interface 'auto'

	# 内网子网路由（Site-to-Site 互联）
	option accept_advertised_subnets '0'
	# list advertised_subnets '192.168.1.0/24'
	list allowed_subnet_peers '*'

	# WebUI 控制台
	option webui_enable '1'
	option webui_listen_ip '0.0.0.0'
	option webui_listen_ipv6 '::'
	option webui_port '5857'
	option webui_auth_token ''
